@font-face {
    font-family: "Raleway-Regular";
    src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/Raleway/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway/raleway-medium-webfont.woff2') format('woff2'), url('../fonts/Raleway/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-SemiBold";
    src: url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'), url('../fonts/Raleway/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/Raleway/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway/raleway-bold-webfont.woff2') format('woff2'), url('../fonts/Raleway/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype'), url('../fonts/Raleway/raleway-extrabold-webfont.woff2') format('woff2'), url('../fonts/Raleway/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat/montserrat-extralight-webfont.woff2') format('woff2'), url('../fonts/Montserrat/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/Montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/Montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'), url('../fonts/Roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}